{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block title %}Yazının Detayı{% endblock title %}
{% load static %}
{% block body %}
  <h1 class="mb-4">{{article.title}}</h1>
  <div class="mb-4">
    <img src="{% if article.article_img %}
    {{article.article_img.url}}
    {% else %}
    {% static 'images/image_news.jpg' %}
    {% endif %}" alt="{{article.title}}">
  </div>
  <div class="mb-4">
    <span class="text-muted">Yazar: {{article.author.username}}</span>
    <span class="text-muted mx-3">|</span>
    <span class="text-muted">Tarih: {{article.created_date}}</span>
  </div>
  <div class="content">
    <p>{{article.content|safe}}</p>
  </div>
  <hr>
  <h3>Yorumlar</h3>
  {% for comment in article.comments.all %}
    <div>
        <strong>{{comment.author.username}}</strong> - {{comment.created_date}}
        <p>{{comment.content}}</p>
    </div>
  {% empty %}
  <div class="alert alert-danger">Henüz yorum yapılmamış. Siz ilk yorumu yazınız :)</div>
  {% endfor %}

  <h2>Yorum Yazınız: </h2>
  {% if user.is_authenticated %}
    <form method="post">
      {% csrf_token %}
      {{form|crispy}}
      <button type="submit" class="btn btn-primary">Yorum Yap</button>
    </form>
  {% else %}
  <p>Yorum yapmak için <a class="btn btn-outline-danger btn-sm" href="{% url 'user:login' %}?next={{request.path}}">giriş yapmalısınız.</a></p>
  {% endif %}
{% endblock body %}